<% include ../partials/header.ejs %>

<div class="container-lg mt-0" style="height: 80vh; padding: 2.5vh 0;">
    <div class="card">
        <div class="card-header text-center">
                <h4 ><%= walk.name %></h4>
                <p class="text-right">
                    <em> submitted by <%= walk.author.username %>, <%= moment(walk.createdAt).fromNow() %></em>
                </p>
        </div>
        <div class="card-body row mb-1" style="background-color: #ddd;">
            <div class="col-md-6">
                <h5 class="card-title text-cent">The Walk</h5>
                <p><%= walk.description %></p>
                
                <h5 class="card-title">Overall Journey </h5>
                <p><%= walk.journey %></p>
               
                <h5 class="card-title">Pub / Restaurant</h5>
                <p><%= walk.foodplace %></p>
                
                <h5 class="card-title">Thoughts...</h5>
                <p><%= walk.opinion %></p>
    
                <a class="btn btn-sm mb-4" style="color: #f7f9fb;" href="http://<%= walk.url %>">
                    <%= walk.url %>
                </a>
            </div>
            <div class="col-md-6">
                <img src="<%= walk.image %>" class="rounded img-fluid">
            </div>
            <br>
            <% if(currentUser && walk.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <a class="btn" href="/walks/<%= walk._id %>/edit">Edit walk</a>  
                        
                <form id="deleteform" class="form-delete" action="/walks/<%= walk._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline">Delete walk</button>
                </form>
            <% } %>
        </div>
    </div>
</div>


<% include ../partials/footer.ejs %>